openapi: 3.0.4

info:
  title: Energy Performance of Buildings Data API
  description: Public API for EPB Data integrations
  contact:
    name: MHCLG Digital helpdesk (prefix email subject with "EPB")
    email: mhclg.digital-services@communities.gov.uk
  version: 0.0.1

servers:
  - url: 'https://api.get-energy-performance-data.epb-integration.communities.gov.uk'
    description: Integration Service
  - url: 'https://api.get-energy-performance-data.epb-staging.communities.gov.uk'
    description: Staging Service

tags:
  - name: Domestic
    description: Domestic property operations
  - name: Delta
    description: EPC changes between 2 dates
  - name: Data
    description: EPC certificate data
  - name: Files
    description: Bulk Certificate file downloads

paths:
  /api/certificate:
    get:
      tags:
        - Data
      summary: /api/certificate
      description: |-
        Fetch a certificate

      operationId: fetch-certificate
      security:
        - bearerToken: []
      parameters:
        - in: query
          name: certificate_number
          description: The certificate number to fetch
          required: true
          schema:
            type: string
            example: "0000-1672-0000-1732-0000"
      responses:
        '200':
          description: Successful response returning an EPC document in JSON format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateResponse'
        '404':
          description: Certificate not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                example:
                  error: "Certificate not found"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - code: "Unexpected error message here"

  /api/deltas:
    get:
      tags:
        - Delta
      summary: Search certificates that have changed between two dates
      description: |-
        Search EPCs changes between date_start and date_end
      operationId: delta-certificates
      security:
        - bearerToken: []
      parameters:
        - in: query
          name: date_start
          description: The start date for the date range of the search (YYYY-mm-dd)
          required: true
          schema:
            type: string
            format: date
            example: '2020-04-10'
        - in: query
          name: date_end
          description: The end date for the date range of the search (YYYY-mm-dd)
          required: true
          schema:
            type: string
            format: date
            example: '2020-5-10'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeltaResponse'

        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalid_date_range:
                  summary: Invalid or missing date range
                  value:
                    error: "The search query was invalid - please provide a valid date range"
                includes_today:
                  summary: Date range includes today, which is not allowed
                  value:
                    error: "The search query was invalid - the date cannot include today"

        '404':
          description: No data found for the query
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "No audit logs could be found for that query"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - code: "Unexpected error message here"

  /api/domestic/search:
    get:
      tags:
        - Search
        - Domestic
      summary: Search for domestic certificates
      description: |-
        Search EPCs by
          - date_start and date_end **mandatory**
          - multiple councils
          - multiple constituencies
          - a postcode
          - multiple efficiency rating (eff_rating)
          - a partial address
      operationId: search-assessments
      security:
        - bearerToken: []
      parameters:
        - in: query
          name: date_start
          description: The start date for the date range of the search (YYYY-mm-dd)
          required: true
          schema:
            type: string
            format: date
            example: '2025-07-10'
        - in: query
          name: date_end
          description: The end date for the date range of the search (YYYY-mm-dd)
          required: true
          schema:
            type: string
            format: date
            example: '2025-08-10'
        - in: query
          name: council[]
          description: The array of Local Authorities used for the search filter
          schema:
            type: array
            items:
              type: string
            example: ['Manchester', 'Birmingham']
        - in: query
          name: constituency[]
          description: The array of Parliamentary Constituencies used for the search filter
          schema:
            type: array
            items:
              type: string
            example: ['Aldershot', 'Banbury']
        - in: query
          name: postcode
          description: The postcode of the address being searched for
          schema:
            type: string
            example: 'FL23 4JA'
        - in: query
          name: eff_rating[]
          description: The array of Efficiency Ratings used for the search filter
          schema:
            type: array
            items:
              type: string
            example: ['A', 'B', 'C']
        - in: query
          name: address
          description: Partial address to be used for the search filter
          schema:
            type: string
          example: '9 new union'
        - in: query
          name: current_page
          description: The page number for search result pagination
          schema:
            type: integer
          example: 1
        - in: query
          name: page_size
          description: The number of rows returned for each page (Max size is 5000)
          schema:
            type: integer
          example: 5000
      responses:
        '200':
          description: Assessment search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssessmentSearchResult'
              example:
                data:
                  - addressLine1: "1 Some Street"
                    addressLine2: null
                    addressLine3: null
                    addressLine4: null
                    buildingReferenceNumber: "100121241798"
                    certificateNumber: "0000-0000-0000-0000"
                    constituency: "Chelsea and Fulham"
                    council: "Hammersmith and Fulham"
                    currentEnergyEfficiencyBand: "B"
                    postTown: "Whitbury"
                    postcode: "SW10 0AA"
                    registrationDate: "2020-05-04T00:00:00.000Z"
                pagination:
                  totalRecords: 4
                  currentPage: 1
                  totalPages: 1
                  nextPage: null
                  prevPage: null
        '400':
          description: Bad request - missing or malformed parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missing_dates:
                  summary: Missing or invalid dates
                  value:
                    error: "The search query was invalid - please provide a valid date range"
                includes_today:
                  summary: Date includes today
                  value:
                    error: "The search query was invalid - the date cannot include today"
                invalid_postcode:
                  summary: Invalid postcode
                  value:
                    error: "The search query was invalid - please prove a valid postcode"
                invalid_council:
                  summary: Invalid council
                  value:
                    error: "The search query was invalid - provide valid council name(s)"
                invalid_constituency:
                  summary: Invalid constituency
                  value:
                    error: "The search query was invalid - provide valid constituency name(s)"
                invalid_page_size:
                  summary: Invalid page size
                  value:
                    error: "The search query was invalid - provide valid page_size between 1 and 5000"
        '404':
          description: No assessments found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "No domestic assessments could be found for that query"
        '416':
          description: Page out of range
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "The requested page number 99 is out of range. Total pages: 12"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - code: "Unexpected error message here"

  /api/files/domestic/csv:
    get:
      tags:
        - Files
        - Domestic
      summary: Download domestic full-load CSV
      description: |
        Redirects to a pre-signed S3 URL for the domestic full-load ZIP file.
      operationId: download-domestic-full-load
      security:
        - bearerToken: []
      responses:
        '302':
          description: Redirect to pre-signed S3 URL
          headers:
            Location:
              description: Pre-signed S3 URL
              schema:
                type: string
                format: uri
        '404':
          description: File not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                example:
                  error: "File not found"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                example:
                  error: "Internal Server Error"

  /api/files/domestic/csv/info:
    get:
      tags:
        - Files
        - Domestic
      summary: Get info about domestic full-load CSV
      description: |
        Returns metadata about the domestic full-load ZIP file.
      operationId: get-domestic-full-load-info
      security:
        - bearerToken: []
      responses:
        '200':
          description: File information retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileInfoResponse'

        '404':
          description: File not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                example:
                  error: "File not found"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                example:
                  error: "Internal Server Error"

components:
  securitySchemes:
    bearerToken:
      type: http
      scheme: bearer
      description: This API uses Bearer Token

  schemas:

    EnergyAssessmentSearchResult:
      type: object
      properties:
        addressLine1:
          type: string
        addressLine2:
          nullable: true
          type: string
        addressLine3:
          nullable: true
          type: string
        addressLine4:
          nullable: true
          type: string
        buildingReferenceNumber:
          type: string
        certificateNumber:
          type: string
        constituency:
          type: string
        council:
          type: string
        currentEnergyEfficiencyBand:
          type: string
        postTown:
          type: string
        postcode:
          type: string
        registrationDate:
          type: string
          format: date-time

    PaginationMetadata:
      type: object
      properties:
        totalRecords:
          type: integer
        currentPage:
          type: integer
        totalPages:
          type: integer
        nextPage:
          type: integer
          nullable: true
        prevPage:
          type: integer
          nullable: true

    ErrorResponse:
      type: object
      oneOf:
        - required: [error]
          properties:
            error:
              type: string
        - required: [errors]
          properties:
            errors:
              type: array
              items:
                type: object
                properties:
                  code:
                    type: string
    DeltaEvent:
      type: object
      properties:
        certificateNumber:
          type: string
          example: "0000-0000-0000-0002-1111"
        eventType:
          type: string
          enum: [opt_out, cancelled, address_id_updated]
          example: "opt_out"
        timestamp:
          type: string
          format: date-time
          example: "2025-02-17T16:26:08.535Z"
      required:
        - certificateNumber
        - eventType
        - timestamp

    DeltaResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DeltaEvent'
      required:
        - data

    CertificateResponse:
      type: object
      properties:
        data:
          type: object
          description: EPC document in JSON format
          additionalProperties: true
      required:
        - data

    FileInfo:
      type: object
      properties:
        fileSize:
          type: integer
          description: Size of the file in bytes
          example: 22
        lastUpdated:
          type: string
          format: date-time
          description: Last modified timestamp of the file
          example: "2025-08-01T00:31:19.000+00:00"
      required:
        - fileSize
        - lastUpdated

    FileInfoResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/FileInfo'
      required:
        - data

    AssessmentSearchResult:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/EnergyAssessmentSearchResult'
        pagination:
          $ref: '#/components/schemas/PaginationMetadata'
      required:
        - data
        - pagination

  links: {}
  callbacks: {}
